@supports (display: grid) {

    .grid {
      display: grid;
      grid-gap: 1.5rem;
      min-height: 100vh;
      padding: 2rem;
    }
    
    .grid .item:nth-child(1)  { grid-area: g1; }
    .grid .item:nth-child(2)  { grid-area: g2; }
    .grid .item:nth-child(3)  { grid-area: g3; }
    .grid .item:nth-child(4)  { grid-area: g4; }
    .grid .item:nth-child(5)  { grid-area: g5; }
    .grid .item:nth-child(6)  { grid-area: g6; }
    .grid .item:nth-child(7)  { grid-area: g7; }
    .grid .item:nth-child(8)  { grid-area: g8; }
    .grid .item:nth-child(9)  { grid-area: g9; }
    .grid .item:nth-child(10) { grid-area: g10; }
    .grid .item:nth-child(11) { grid-area: g11; }
    .grid .item:nth-child(12) { grid-area: g12; }
    .grid .item:nth-child(13) { grid-area: g13; }
    .grid .item:nth-child(14) { grid-area: g14; }
  }

  
  .box {
    height: 100%;
    background:rgba(0, 0, 0, 0.25)  !important;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .grid .item {
    padding: 0.5rem;
    outline: transparent;
    color: white;
  }
  p{
    margin-top: 10px;
    margin-left: 10px;
  }
  .fire-staff-upgrade{
    width: 190px;
    border: outset 0.5px rgb(31, 22, 19);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

