@supports (display: grid) {
    /* mobile */
    @media screen and (max-width: 650px) {
        .grid {
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(5, 25vh);
          grid-template-areas:
          "hero hero hero hero hero hero"
          "hero hero hero hero hero hero"
          "hero2 hero2 hero2 hero2 hero2 hero2"
          "hero2 hero2 hero2 hero2 hero2 hero2"
          "med1 med1 med1 med1 med1 med1"
          "med2 med2 med2 med2 med2 med2";
        }
      }
        /* desktop */
    @media screen and (min-width: 1400px) {
      .grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "g1 g1 g1 g3 g3 g3"
        "g1 g1 g1 g3 g3 g3"
        "g1 g1 g1 g3 g3 g3"
        "g2 g2 g2 g4 g4 g4"
        "g2 g2 g2 g4 g4 g4"
        "g2 g2 g2 g4 g4 g4";
      }
    }
  }

.fire-staff{
  color: red;
}

.ice-staff{
  color: cyan;
}

.lightning-staff{
  color: purple;
}

.wind-staff{
  color: yellow ;
}
