.fire-staff-container{
    color: #edf0f1;
    width: 40%;
}

.fire-staff{
    color: rgb(182, 50, 50);
}

.ice-staff-container{
    color: #edf0f1;
    width: 40%;
}

.ice-staff{
    color: rgb(44, 107, 167);
}


.lightning-staff-container{
    color: #edf0f1;
    width: 40%;
}

.lightning-staff{
    color: rgb(125, 66, 180);
}

.wind-staff-container{
    color: #edf0f1;
    width: 40%;
}

.wind-staff{
    color: rgb(211, 211, 73);
}


.easter-egg-container{
    color: #edf0f1;
}

.easter-egg{
    color: rgb(89, 161, 167);
}

